SECRET_KEY=chave_forte_aqui
DEBUG=True
ALLOWED_HOSTS=duat.site,sigesporte.duat.site,IP_DA_VPS
CSRF_TRUSTED_ORIGINS=https://sigesporte.duat.site,https://duat.site,https://sigesporte.duat.site/*,https://*duat.site/*,default[]
