{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<style>
.politica-container {
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
}

.politica-container h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}

.politica-container h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.politica-container p {
    font-size: 20px;
    line-height: 1.6;
}

.politica-container ul {
    list-style-type: disc;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.politica-container li {
    font-size: 18px;
    margin-bottom: 10px;
}

.politica-container h3 {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
</style>

{% endblock %}

{% block content %}
<div class="politica-container">
    <h1>Política de Privacidade</h1>

    <p>A sua privacidade é importante para nós. É política do Sistema de Gestão de Eventos Esportivos respeitar
        a sua privacidade em relação a qualquer informação sua que possamos coletar no site SIGEsporte.</p>

    <p>Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço.
        Isso é feito por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que
        estamos coletando essas informações e como serão utilizadas. Os dados que podemos coletar incluem, mas não
        se limitam a: nome, matrícula UnB e demais informações fornecidas no cadastro ou uso da plataforma.</p>

    <p>Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado.
        Quando armazenamos dados, os protegemos dentro de meios comercialmente aceitáveis para evitar perdas
        e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.</p>

    <p>Não compartilhamos informações de identificação pessoal publicamente ou com terceiros,
        exceto quando exigido por lei.</p>

    <p>O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não
        temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas
        respectivas políticas de privacidade.</p>

    <p>Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos
        fornecer alguns dos serviços desejados.</p>

    <p>O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade
        e informações pessoais. Esta política está em conformidade com a Lei Geral de Proteção de Dados
        (Lei nº 13.709/2018 — LGPD).</p>

    <h2>Compromisso do Usuário</h2>

    <p>O usuário se compromete a fazer uso adequado dos conteúdos e das informações que o Sistema de Gestão
        de Eventos Esportivos oferece no site e, com caráter enunciativo, mas não limitativo:</p>

    <ul>
        <li>Não se envolver em atividades que sejam ilegais ou contrárias à boa-fé e à ordem pública;</li>
        <li>Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, de jogos de sorte ou azar,
            qualquer tipo de pornografia, apologia ao terrorismo ou contrária aos direitos humanos;</li>
        <li>Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do Sistema de Gestão de
            Eventos Esportivos, de seus fornecedores ou terceiros, nem introduzir ou disseminar vírus
            informáticos ou quaisquer outros sistemas capazes de causar os danos anteriormente mencionados.</li>
    </ul>

   

    <p>Esta política é efetiva a partir de 4 de Julho de 2026.</p>

</div>

   <a href="{% url 'cadastro' %}" type="submit" class="btn-header"
    style="border:none; cursor:pointer; width:30%; margin-top:20px; display:block; margin:20px auto; text-align:center; text-decoration:none;">
    Voltar ao Cadastro
    </a>
    

{% endblock %}