{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/detalhes_evento.css' %}">
{% endblock %}

{% block content %}
<main>
  <a href="{% url 'home' %}" class="btn-back">Voltar para eventos</a>
    <div class="event-info">
        <h1 class="event-title">
          {{ evento.nome }}
        </h1>
          <div class="card-coluna1">
            <p><strong>Descrição: </strong>{{ evento.descricao }}</p>
          </div>

          <div class="card-coluna2">
            {% if evento.imagem %}
            <img class="event-img" src="{{ evento.imagem.url }}" alt="{{ evento.nome }}">
            {% else %}
            <div class="event-img" style="background: #e0e0e0;"></div>
            {% endif %}
          </div>

          <div class="card-coluna3">
            
            <p><strong>Data e Horário: </strong> {{ evento.data|date:"d/m/Y" }} às {{ evento.horario}}</p>
            <p><strong>Organização: </strong> {{ evento.organizador}}</p>
            <p><strong>Local: </strong>{{ evento.local }}</p>
            <p><strong>Vagas: </strong>{{ evento.vagas }}/{{ evento.capacidade }}</p>
            <p><strong>Status: </strong>Inscrições Abertas</p>

            {% if user.is_authenticated %}
                {% if inscrito %}
                <a href="#" class="btn-ins-canc btn-cancelar">Cancelar Inscrição</a>
                {% else %}
                <a href="#" class="btn-ins-canc btn-inscrever">Inscrever-se</a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}" class="btn-ins-canc btn-inscrever">Inscrever-se</a>
            {% endif %}

          </div>
    </div>
</main>
{% endblock %}